body{
    background-color: rgb(14, 14, 14);}
#navbar{
    margin: 0%;
    padding: 0%;
    height: 30px;
    background-color: rgb(12, 12, 12);
}
a{
    margin: 0%;
    font-size: 25px;
    text-decoration: none;
    color:white;
    margin-right:200px;
    padding: 0%;
}
#logo{
    color: orange;

}
#cart{
    color: white;
}
#contact{
    /* margin-left: 200px; */
}

#search{
    background-color: orange;
    height: 22px;
}
button{
    /* border: ; */
    background-color: grey;
    border: 0px;
}