body{
    background-color: rgb(14, 14, 14);}
#navbar{
    margin: 0%;
    padding: 0%;
    height: 30px;
    background-color: rgb(12, 12, 12);
    margin-bottom: 25px;
}
a{
    margin: 0%;
    font-size: 25px;
    text-decoration: none;
    color:white;
    margin-right:200px;
    padding: 0%;
}
#logo{
    color: orange;

}
#cart{
    color: white;
}
#contact{
    /* margin-left: 200px; */
}

#search{
    background-color: orange;
    height: 22px;
}
button{
    /* border: ; */
    background-color: grey;
    border: 0px;
}
#i1{
    height: 250px;
    width: 250px;
    margin-right: 10px;
}
#i2{
    margin-right: 10px;
    height: 250px;
    width: 250px;
}
#i3{
    height: 250px;
    margin-right: 10px;
    width: 250px;
}
#products{
    color: white;
}
#price{
    margin-bottom: 0%;
}
#date{
    color:green;
    margin-top: 0%;
}